@import url("Themes.css");
body {
}

span.OODCoreComponentInputField {
    border: 1px solid var(--secondary-border-color);
    background-color: var(--input-background-color);
    color: var(--primary-text-color);
    padding: 3px 2px 3px 2px;
}

.OODCoreComponentInputField input {
    border: none;
    -webkit-appearance: none;
    margin-top: 4px;
    margin-bottom: 4px;
    border-color: var(--primary-border-color);
    background-color: var(--input-background-color);
    color: var(--primary-text-color);
}